## 4IZ460 CleverMiner Project

In [1]:
import numpy as np
import pandas as pd
import cleverminer as clm

Cleverminer version  1.0.2  educational version. For production use (bugfixes and keeping compatibility), ask for PRO version.

## Reading datasets and joining them

In [8]:
df = pd.read_csv("./data/csgo_round_snapshots.csv", sep=',')
df.head(5)

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,round_winner
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT

In [9]:
df_equipment = pd.read_csv("./data/csgo_equipment.csv", sep=',')
df_equipment.head(5)

                   name  price
0           Kevlar Vest   $650
1  Kevlar Vest + Helmet  $1000
2              Zeus x27   $200
3            Defuse Kit   $400
4               Molotov   $400

In [10]:
df_weapons = pd.read_csv("./data/csgo_weapons.csv", sep=',')
df_weapons.head(5)

,Name,Team,Cost,Kill Award,Kills To Rebuy,Max Speed,RoF,Damage,DPS,Armor Penetration,...,Max Ammo,Reload (CR),Reload (FR),Recoil,Recoil (V),Recoil (H),Spread,Spread Run,Spread Stand,Spread Crouch
0,AK-47,T,$2700,$300,9.00,215,600,36,360,77.50%,...,90,1.20,2.5,30.0,0,70,0.6,175.06,6.41,4.81
1,AUG,CT,$3300,$300,11.00,220,667,28,311,90.00%,...,90,1.50,3.8,26.0,0,60,0.5,135.45,3.85,2.88
2,AWP,T,$4750,$100,47.50,200,41,115,79,97.50%,...,30,2.00,3.7,78.0,15,20,0.2,176.48,80.80,60.60
3,CZ75 Auto,T,$500,$300,1.67,240,600,33,300,77.65%,...,12,0.00,2.9,27.0,10,180,3.0,13.41,10.43,7.60
4,Desert Eagle,T,$700,$300,2.33,230,267,63,280,93.20%,...,35,0.88,2.3,48.2,18,60,2.0,48.10,4.20,2.18

In [ ]:
def parse_snapshot_column_to_buyable(column_name: str):